
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddЕфп</title>
</head>
<body>
    <div>
        <h3>Форма Добавления таска</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите новый тег</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr><td><input type="submit" value="Подтвердить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
